#loadScreen{
	/* DEBUG: ----- */
	/* display: none;
	/* ------------ */
	position: absolute;
	background-color: #000;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	z-index: 99;
	background-repeat: no-repeat;
	background-size: cover;
	animation-duration: 4s;
}
#logo{
	/*-webkit-filter: grayscale(100%) brightness(60%);
	filter: grayscale(100%) brightness(60%);*/
	animation-duration: 1s;
	animation-delay: 3s;
}
#logo:hover{
	-webkit-filter: grayscale(0%) brightness(200%);
	filter: grayscale(0%) brightness(200%);
}
#logoCont{
	position: absolute;
	width:10%;
	top:45%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#loadBarCont{
	position: absolute;
	bottom: 40%;
	left: 50%;
	width: 90px;
	height: 9px;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
	-webkit-transform: translate(-50%, -50%); /* Safari */
	transform: translate(-50%, -50%);
}
#loadBar{
	animation-duration: 1s;
  	animation-delay: 0.5s;
}
.ldBar-label{
	visibility: hidden;
}
