@font-face {
  font-family: 'Ailerons';
  src: url('./fonts/Ailerons.ttf');
  /* src: local('☺'), url('fonts/Montserrat-Light.woff') format('woff'), url('fonts/Montserrat-Light.ttf') format('truetype'), url('fonts/Montserrat-Light.svg') format('svg'); */
  font-weight: 300;
  font-style: normal;
}
.section-background {
  position: fixed;
  width: 0;
  height: 0;
  left: 0;
  padding: 50vh 50vw;
  background: url("../img/introduction-visual.png") no-repeat;
  background-size: cover;
}
.radian-title, .outer-nav, .side-nav, .header {
  font-family: Ailerons;
  letter-spacing: 2px;
}
.header-svg {
  position: absolute;
  height: 90%;
}
.header-cont {
  -webkit-padding-start: 30px;
}
.header-latin {
  letter-spacing: 0.3em;
  transform: scale(1, 1.14);
}
.header-kata {
  letter-spacing: 1px;
}
.radian-title {
  letter-spacing: 0.5em;
  transform: scale(1, 1.14);
  line-height: 1.5 !important;
  font-weight: 100;
}
.intro--banner::before {
  background-color: rgba(255, 255, 255, 0.07);
}