.section-background {
  position: fixed;
  width: 0;
  height: 0;
  left: 0;
  z-index: -10;
  padding: 50vh 50vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.intro-background {
  background-image: url("../img/introduction-visual.png");
}
.about-background {
  background-image: url("../img/about-visual.png");
}
.radian-title, .side-nav, .header {
  letter-spacing: 2px;
}
.header-svg {
  position: absolute;
  height: 90%;
  top: 10%;
}
.header-cont {
  -webkit-padding-start: 36px;
}
.header-latin {
  letter-spacing: 0.3em;
  transform: scale(1, 1.16);
}
.header-kata {
  letter-spacing: 1px;
}