#popup {
  position: absolute;
  right: 0%;
  height: 100%;
  width: 100%;
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.88);
  background-repeat: no-repeat;
  background-size: cover;
}
.popup_toggle {
  color: #aaa;
}
.popup_toggle:hover {
  color: #fff;
}
.dummy {
  display: none;
}
.bw {
  -webkit-filter: grayscale(100%) brightness(60%);
  filter: grayscale(100%) brightness(60%);
}