#vimeo iframe {
  position: absolute;
  height: 75%;
  width: 90%;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
}
@media (max-width: 1280px) {
  #vimeo iframe {
    position: absolute;
    height: 100%;
    width: 98%;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
  }
}